################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extensions/obj
/DomainModel/obj
/.vs/Entity Framework Core Succinctly/v15
/UnitTests/obj
*.user
/.vs/config
/DomainModel/bin/Debug/netstandard2.0
/Extensions/bin/Debug/netstandard2.0
/UnitTests/bin/Debug/netcoreapp2.0
